*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

.design2{
    width: 100%;
    height: 100vh;
    background: url("./images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.design2_container{
    width: 100%;
    height: 100%;
    background: rgba(11, 10, 29, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.design2_navbar{
    display: flex;
    align-items: center;
    
    justify-content: right;
    width: 90%;
    margin: auto;
    color: white;
    
    list-style: none;
    position: relative;


}

.design2_navbar ul{
   
    position: absolute;
    right: 6px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 13px 0px;
   
}

.design2_navbar ul li{
    padding: 6px 16px;
    border: 2px solid transparent;
    margin: 5px 2px;
    text-transform: uppercase;
    transition: 0.3s;
}
.design2_navbar ul li:first-child{
    border: 2px solid white;
}

.design2_navbar ul li:hover{
    border: 2px solid white;
}

.design2_container h1{
    color: white;
    z-index: 1;
    letter-spacing: 0.2em;
    margin: 23px 0px;
    font-size: 3rem;
}

.design2_btn{
    margin: 6px 2px;
    display: flex;
}

.design2_btn button{
    margin: 4px 8px;
    font-size: 15px;
    color: white;
    padding: 6px 13px ;
    background: transparent;
    outline: none;
    border: 2px solid white;
    transition: 0.3s;

}



.design2_btn button:first-child{
    background: rgb(255, 38, 0);
}
.design2_btn button:hover {
    background: rgb(255, 157, 0);
}

/* adding media query to  this part of the websit e */

@media only screen and (max-width : 733px){
    .design2_navbar ul {
        flex-direction: column;
    }

    .design2_container h1{
        font-size: 2rem;
    }
}

@media only screen and (max-width : 600px ){
    .design2_container h1{
        font-size: 1.4rem;
    }

    .design2_btn{
        flex-direction: column;
    }
}