*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mode{
    background: rgb(228, 226, 243);
    color: black;
}
.box{
    box-shadow: 2px 2px 6px black;
}

.api3{
    width: 100%;
   min-height: 100vh;
   height: 100%;
   padding: 25px;
   display: flex;
   justify-content: space-evenly;
   
}

.api3_container1{
    flex-basis: 65%;
   
   
}

.api3_container2{
    flex-basis: 34%;
    border-radius: 6px;
    box-shadow: 2px 2px 3px rgb(59, 57, 57);
    overflow: hidden;
    background: white;
    height: 100%;
}

.api3_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:2px 6px;
}

.api3_header h1{
    color: red;
    padding: 2px 0px;
    
}

.api3_header select{
    padding: 6px 15px;
    font-size: 17px;
    outline: none;
    width: 160px;
    height: 36px;
    border: none;
   border-radius: 5px;
   text-align: center;
}

.api3_info_box{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 0px;

}

.api3_info_box1 , .api3_info_box2 , .api3_info_box3{
    flex-basis: 30%;
    background: white;
    border-radius: 6px;
    padding: 12px;
}

.api3_info_box1 h4 , .api3_info_box2 h4 , .api3_info_box3 h4{
    color: rgb(83, 79, 106);
    padding: 8px 0px;
}

.api3_info_box1 h2{
    color: rgb(204, 15, 15);
    padding: 6px 6px;
}
.api3_info_box2 h2{
    color: rgb(29, 230, 63);
    padding: 6px 6px;
}
.api3_info_box3 h2{
    color: rgb(204, 13, 13);
    padding: 6px 6px;
}

.api3_info_box1 h5 , .api3_info_box2 h5  , .api3_info_box3 h5{
    color: rgb(164, 150, 150);
    padding: 5px 8px;
}


.api3_container2_cases{
    width: 100%;
    padding: 4px 9px;
    background: white;
    height: 640px;
   
}

.api3_container2_cases p{
    font-size: 18px;
    padding: 8px 6px;
    text-align: center;
    color: blue;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgb(57, 44, 44);
}

.api3_container2_list{
    width: 100%;
    height: 580px;
    border: 1px solid green;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 6px;
}

.api3_container2_smalllist{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 4px rgb(169, 169, 230);
    padding: 0px 6px;
}

.api3_container2_smalllist:nth-of-type(odd){
    background: rgb(65, 52, 250);
}
.api3_container2_smalllist:nth-of-type(even){
    background: green;
}


.api3_container2_smalllist h5{
    color: rgb(255, 220, 125);
    padding: 6px;
  
}

/* here we are going to design the map part of the website where we have used leaflet dependencies ; */

.api3_box1_map{
    width: 100%;
    padding: 23px;
}

.api3_box_map{
    width: 100%;
    padding: 13px;
    background: rgb(160, 153, 149);
    box-shadow: 2px 2px 6px black;
    border-radius: 12px;
    
}

.api3_map{
    width: 100%;
    height: 560px;
    background-color: white;
    padding: 1rem;
    margin-right: 15px;
    margin-top: 15px;
    box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);
    border-radius: 15px;
}

/* now adding media query to this project  */

@media only screen and (max-width : 1050px){
    .api3{
        flex-direction: column;
    }

    .api3_container2{
        max-width:800px ;
        width: 90%;
        margin: auto;

    }
}

@media only screen and (max-width : 750px){

    .api3_info_box{
        flex-direction: column;
    }

    .api3_info_box1 , .api3_info_box2 , .api3_info_box3 {
        max-width: 500px;
        width: 90%;
        margin: auto;
        margin-bottom: 23px;
       
    }

    .api3_box1_map{
        width: 110%;
        margin: 10px 0px;
    }
    .api3_box_map{
        width: 100%;
        margin: auto;
       padding: 0px;
    }
    
}