/* here we are going to give the css to the clock part of the website project of the javascript ; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: rgb(16, 17, 29);
    display: flex;
    justify-content: center;
    align-items: center;
}

.small_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    
   
}

.small_container img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    position: relative;
    box-shadow: 10px 10px 10px rgb(69, 78, 93) ,inset 10px 10px 10px rgb(88, 88, 117);
}

.hour , .min , .sec , .circle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}



.hr{
    width:4px ;
    height: 50%;
    background:linear-gradient(to bottom ,white 50% , transparent 50%);
    border-radius: 23px;
}

.mn{
    width: 3px ;
    height: 57%;
    background: linear-gradient(to bottom , red 55% , transparent 45%);
   
    border-radius: 23px;
    
    
}
.sc{
    width: 2px ;
    height: 64%;
    background: linear-gradient(to bottom , green 59% , transparent 41%);
    border-radius: 23px;
   
}

.circle{
    height: 12px ;
    width: 12px;
    background:yellow;
    border-radius: 50%;
}