/* Here I am going to design the full stack part of the web project  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fullstack1_container{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: rgb(26, 26, 27);}

.fullstack1_small_container{
    width: 90%;
    margin: auto;
}

.fullstack1_row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.fullstack_card{
    flex-basis: 26%;
    border-radius: 9px;
    overflow: hidden;
    margin: 23px;

}

.fullstack_card img{
    width: 100%;
    height: 230px;
}

.fullstack_text{
    background: rgb(218, 230, 241);
    display: flex;
    justify-content: space-between ;
    padding: 12px 23px;
}

.fullstack_btn{
    padding: 4px  19px ;
    max-height: 30px;
    text-decoration: none;
    border: 1px solid blue;
    background: white;
    color: blue;
    border-radius: 6px;
    text-transform: uppercase;
    transition: 0.4s;
    font-size: 17px;
    letter-spacing: 0.1em;

}
.fullstack_btn:hover{
    background: blue;
    color: white;
}
.fullstack_btn2{
    padding: 4px  19px ;
    
    text-decoration: none;
    border: 1px solid blue;
    background: white;
    color: blue;
    border-radius: 6px;
    text-transform: uppercase;
    transition: 0.4s;
    font-size: 17px;
    letter-spacing: 0.1em;
    outline: none;
    text-decoration: none;


}
.fullstack_btn2:hover{
    background: blue;
    color: white;
}



/* adding media query to the project */

@media only screen and (max-width : 1000px){
    .fullstack1_row{
        flex-direction: column;
    }
}