*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.design3{
    width: 100%;
    height: 100vh;

    background: url("./images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    


}

.design3_container{
    width: 100%;

}
.design3_container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    background: rgb(0, 111, 0);
}

.design3_container ul li{
    display: flex;
    padding: 8px 16px;
    margin: 12px 0px;
    color: white;
    justify-content: center;
    align-items: center;
   font-size: 11px;
   font-weight: 400;
   margin-right: 3px;
   border-radius: 4px;
   text-transform: uppercase;
}

.design3_icon{
    margin-right: 3px;
    
    
}

.design3_active ,.design3_container ul li:hover{
    background: rgb(4, 186, 4);

}
.sub_menu1{
    display: none;
    
}

.design3_container ul li:hover .sub_menu1{
    position: absolute;
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    flex-direction: column;
    cursor: pointer;

}

.sub_menu1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px 6px;
    
}

.sub_menu1 ul li{
    padding: 8px 16px ;
    margin:4px 0px;
    font-size: 12px;
    border-bottom: 1px solid white;
    border-radius: 0px;
    position: relative;
    
}

.sub_menu1 ul li:hover{
    background: rgb(20, 230, 20);
}
/* now we are going to design the submenu2 part of this websit e; */

.sub_menu2{
    display: none;
}

.sub_menu1 ul li:hover .sub_menu2{
    display: flex;
    position: absolute;
    left: 100%;
    top: 0%;
    width: 100%;
}

