/* Here I am going to design the full stack part of the web project  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fullstack_container{
    height: 100%;
    width: 100%;
    background: rgb(26, 26, 27);}

.fullstack_small_container{
    width: 90%;
    margin: auto;
}

.fullstack_row{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.fullstack_card{
    max-width: 500px;
    flex-basis: 26%;
    border-radius: 9px;
    overflow: hidden;
    margin: 23px;

}
.fullstack_img{
    width: 100%;
    position: relative;
}

.fullstack_img h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(240, 205, 205);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

.fullstack_img img{
    width: 100%;
    height: 230px;
   opacity: 0.4;
}


.details_text{
   
    text-align: center;
    color: rgb(76, 72, 72);
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 12px;
   
}



.fullstack_text{
    background: rgb(20, 39, 57);
    display: flex;
    justify-content: space-between ;
    padding: 12px 23px;
}

.fullstack_btn{
    padding: 4px  19px ;
    max-height: 30px;
    text-decoration: none;
    border: 1px solid blue;
    background: white;
    color: blue;
    border-radius: 6px;
    text-transform: uppercase;
    transition: 0.4s;
    font-size: 17px;
    letter-spacing: 0.1em;


}
.fullstack_btn:hover{
    background: blue;
    color: white;
}
.fullstack_btn2{
    padding: 4px  19px ;
    
    text-decoration: none;
    border: 1px solid blue;
    background: white;
    color: blue;
    border-radius: 6px;
    text-transform: uppercase;
    transition: 0.4s;
    font-size: 17px;
    letter-spacing: 0.1em;
    outline: none;
    text-decoration: none;


}
.fullstack_btn2:hover{
    background: blue;
    color: white;
}


@media only screen and (max-width : 1000px){
    .fullstack_row{
        flex-direction: column;
    }

   
}