/* Here I am going to design the full stack part of the web project  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.api_container{
    min-height: 100vh;
    height: 100%;
   
    width: 100%;
    background: rgb(29, 29, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.api_small_container{
    
    width: 90%;
    height: 100%;
   
    margin: auto;
}

.api_row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}



.fullstack_card{
    max-width: 500px;
    flex-basis: 26%;
    border-radius: 9px;
    overflow: hidden;
    margin: 23px;

}

.fullstack_card img{
    width: 100%;
    height: 230px;
}

.details_text{
    
    text-align: center;
    color: rgb(76, 72, 72);
   box-shadow: 2px 2px 5px  black;
   padding: 6px;
   border-radius: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 12px;
}


.fullstack_text{
    background: rgb(218, 230, 241);
    display: flex;
    justify-content: space-between ;
    padding: 12px 23px;
}

.fullstack_btn{
    padding: 4px  19px ;
    max-height: 30px;
    text-decoration: none;
    border: 1px solid blue;
    background: white;
    color: blue;
    border-radius: 6px;
    text-transform: uppercase;
    transition: 0.4s;
    font-size: 17px;
    letter-spacing: 0.1em;

}
.fullstack_btn:hover{
    background: blue;
    color: white;
}
.fullstack_btn2{
    padding: 4px  19px ;
    
    text-decoration: none;
    border: 1px solid blue;
    background: white;
    color: blue;
    border-radius: 6px;
    text-transform: uppercase;
    transition: 0.4s;
    font-size: 17px;
    letter-spacing: 0.1em;
    outline: none;
    text-decoration: none;


}
.fullstack_btn2:hover{
    background: blue;
    color: white;
}


/* adding media query to the row of the webpge  */

@media only screen and (max-width : 1100px){
    .api_row{
       
        flex-direction: column;
    }
}
