/* This is the game css which we are going to export it here ;
 */

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

.game_container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg , pink , rgb(140, 140, 224) , rgb(209, 122, 127) , pink);
}

.game_small_container{
   max-width: 400px;
   box-shadow: 3px 3px 5px rgb(196, 62, 62),
   -3px -3px 5px rgb(213, 50, 50);
   
   height: 90%;
   max-height: 300px;
   display: flex;
   align-items: center;
   flex-direction: column;
   

}

.game_small_container h1{
    color: rgb(198, 179, 174);
    text-align: center;
    padding: 66px 2px;
    
}

.game_btn{
    
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    color: rgb(51, 255, 0);
    border-radius: 23px;
    border: none;
    padding: 6px 12px;
    background: red;
    margin-top: 25px;
    transition: 0.4s;



}

.game_btn:hover{
    background: rgb(79, 10, 10);
}

/* now the second page of the game started ; */

.game2_small_container{
    width: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 23px 4px;
    box-shadow: 3px 3px 6px rgb(230, 98, 98), -3px -3px 6px rgb(216, 99, 99);
    
}

.game2_small_container h1{
    color: blue;
    padding: 23px 5px;
    text-align: center;
}
.game2_small_container h3{
    color: red;
    padding: 23px 5px;
    text-align: center;
}

.game2_img{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px 0px;
    
}

.game_col1 , .game_col2 , .game_col3{
    flex-basis: 27%;

    transition: 0.4s;
}

.game_col1:hover , .game_col2:hover , .game_col3:hover{
    transform: translateY(-10px);
}

.game_col1 img , .game_col2 img , .game_col3 img{
    width: 100%;
    height: 120px;
   box-shadow: 3px 3px 6px red , -3px -3px 6px  red;
    padding: 12px;
    border-radius: 6px;
}
/* designing the third part of the game page of the website ; */

.game3_img{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px 0px;
    
}

.col1 , .col2 , .col3{
    flex-basis: 27%;

    transition: 0.4s;
}



.col1 img , .col2 img , .col3 img{
    width: 100%;
    height: 120px;
   box-shadow: 3px 3px 6px red , -3px -3px 6px  red;
    padding: 14px;
    border-radius: 6px;
}

.col2 h3{
    color: blue;
    text-align: center;
}

.col1 h4 , .col3 h4 {
    color: red;
    font-size: 14px;
    padding: 14px 0px;
    text-align: center;
    
}