/* This is designing part of the 4th project in the designing part ; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.design4{
    width: 100%;
    height: 100vh;
    
    position: relative;
}
.design4_background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index:-1;
}

.design4_background img{
    width: 100%;
    height: 100%;
}

.design4_navbar{
    width: 85%;
    margin: auto;
    padding: 16px 2px ;
    display: flex;
    justify-content: space-between;

}




.design4_nav_col1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.design4_nav_col2{
    display: flex;
    justify-content: center;
    align-items: center;

}

.design4_btn{
    background: transparent;
    padding: 6px 22px;
    color: white;
    font-size: 17px;
    margin: 0px 55px;
    border-radius: 26px;
    border: 2px solid white;
    outline: none;
}

.design4_cont1{
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}






.design4_cont1_content{
    display: flex;
    padding: 55px 54px;
    color: white;
    flex-direction: column;
}

.design4_cont1_content h1{
    letter-spacing: 0.3em;
    font-size:3rem ;
    padding: 14px 0px;
    color: white;
    
}
.design4_cont1_content p{
    padding: 4px ;
    padding-bottom: 23px;
    color: white;

}

.design4_cont1_content input{
    background: transparent;
    color: white;
    font-size: 17px;
    width: 90%;
    border: 2px solid white;
    border-radius: 26px;
    text-align: left;
    padding: 8px 16px;
}

.design4_cont2{
    position: absolute;
    right: 0px ;
    top: 0px;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design4_cont2_slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.design4_cont2_slider img{
   width: 60px;
    margin: 3px 6px;
    opacity: 0.7;
    transition: 0.4s;
}

.design4_cont2_slider img:hover{
    border: 3px solid white;
    width: 90px;
    height: 60px ;
    opacity: 1;
}

