/* This is the css part of the website where we are giving the styles to my website ; */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.xcontainer , .homex_container{
    width: 100%;
    height: 100%;
    

}
.homex_container{
    background:rgb(255, 211, 211);
    
}

.smallx_container{
    width: 84%;
    margin: auto;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.navbarx{
    display: flex;
    justify-content: space-between;
    
    padding: 15px 6px;
}

.navlistx{
    display: flex;
}
.navlistx .cart{
   
   width: 30px;
   height: 33px;
   margin: 4px 6px;
    
}

.navlistx .menux{
    width: 30px;
    height: 33px;
    margin: 6px 5px;
    z-index: 2;
   display: none;
}

.navbarx img{
   width: 140px;
   margin: 6px 7px;
   height: 45px;
}

.navlistx ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    
    height: 100%;
   
}
.navlistx ul .link{
    text-decoration: none;
}

.navlistx ul li{
    padding: 5px 12px ;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(92, 40, 3);
    font-size: 22px;
    margin:7px 12px;
    
}

/* adding media query to the navbar section ; */

@media only screen and (max-width : 950px ){
    .navlistx ul{
        display: none;
    }

    .navlistx .menux{
        display: flex;
    }

    .navbarx img{
        width: 100px ;
        height: 40px;
    }
}


/* navbar section completed  */


/* designing the menu section which will be used in the home part  */

.menux_list{
    position: absolute;
    right: 0px;
    top: 0px;
}

 .slide1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin: 0px 12px;
    border-radius: 7px;
    background: rgb(173, 198, 243);
    height: 400px;
    transform: translateY(-400px);
    transition: 0.5s;
    display: none;

}

 .slide2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin: 0px 12px;
    border-radius: 7px;
    background: rgb(173, 198, 243);
    height: 400px;
    transform: translateY(0px);
    transition: 0.5s;
    display: none;
}

.menux_list ul li{
    padding: 3px 16px;
    margin: 7px 6px;
    color: rgb(80, 46, 8);
    border-radius: 23px;
    transition: 0.4s;
    
   
}
.menux_list ul li:hover{
    background: blue;
    color: thistle;
}


/* adding media query to the menu bar ; */
@media only screen and (max-width : 950px){
    .slide1 , .slide2{
        display: flex;
    }
}

/* designing of the home body part started ; */


.homex_row{
    margin-top: 23px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
   
    align-items: center;
    padding-bottom: 35px;

}

.homex_col1{
    flex-basis: 48%;
   
}
.homex_col2{
    flex-basis: 48%;
    
}
.homex_col2 img{
    width: 100%;
    
    padding: 30px;
   
}

.homex_col1 h1{
    padding:12px 12px ;
    color: rgb(104, 7, 7);
    text-transform: capitalize;
}
.homex_col1 p{
    color: rgb(75, 78, 82);
    padding: 12px 6px;
    margin-bottom: 23px;
}

.pr1btn{
    background: red;
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: 4px 17px ;
    font-size: 18px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
    
    margin: 0px 52px;
    transition: 0.5s;
}

.pr1btn:hover{
    background: blue;
}

/* now adding media query to the home body part of the project  */

@media only screen and (max-width : 950px){
    
    .homex_row{
        flex-direction: column;
    }
}

/* now the designing of the categories section started ; */

.categoryx{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 65px 4px;
}

.categoryx_col1 , .categoryx_col2 , .categoryx_col3{
    flex-basis: 28%;  


}

.categoryx_col1  img, .categoryx_col2  img, .categoryx_col3 img{
    width: 100%;

}

.linkx{
    text-decoration: none;
}

/* giving media query to the category section  */

@media only screen and (max-width : 800px){
    .categoryx{
        flex-direction: column;
    }

    .categoryx_col1 , .categoryx_col2 , .categoryx_col3{
        margin: 24px 5px;
    }
}

/* here we are going to desing the featured products */



.productsx_heading{
    color: rgb(73, 34, 6);
    position: relative;
    padding: 13px 16px;
    margin-bottom: 8px;
    text-align: center;
}

.productsx_heading:before{
    content: "";
    position: absolute;
    width: 120px;
    height: 4px;
    background: red;

    border-radius: 23px;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
}
.featuredx{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 35px 4px;
   

}

.productsx{
  
    flex-basis: 23%;
    padding: 12px;
    transition: 0.5s;
    margin-bottom: 6px;
}

.productsx_img{
    
    width: 100%;
}
.productsx_img img{
    width: 100%;

}

.productsx_text{
    padding: 5px ;
}

.productsx_text h4{
    color: rgb(75, 82, 82);
    font-size: 17px;
    text-transform: capitalize;
}

.productsx_text ul{
    color: red;
    
}

.productsx_text p{
    color: darkviolet;
    font-size: 17px;
}

.productsx:hover{
    transform: translateY(-12px);
}
/* adding media query to the featured products part ; */

@media only screen and (max-width : 1080px){

    .featuredx{
        flex-direction: column;
    }
}

/* adding css to the offer section  */


.offerx_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 23px 0px;

}

.offerx_col1 , .offerx_col2{
    flex-basis: 45%;

}
.offerx_col1 img{
    width: 100%;
    padding: 43px;
}

.offerx_col2 h4{
    color: red;
    padding: 23px 12px;
}

.offerx_col2 h1{
    color: rgb(51, 24, 5);
    padding: 12px ;
}
.offerx_col2 p{
    font-size: 17px;
    margin-bottom: 12px;
    padding: 12px;
    color: rgb(133, 105, 133);
}

@media only screen and (max-width : 950px){
    .offerx_row{
        flex-direction: column;
    }
}

/* giving design to the testimonail section  */

.testimonialx{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 77px 0px;
}

.Testimonialx_card{
    flex-basis: 25%;
    display: flex;
    max-width: 340px;
    margin-bottom: 28px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.4s;
    box-shadow: 3px 3px 2px grey , -3px -3px 2px grey;
}

.Testimonialx_card:hover{
    transform: translateY(-12px);
}

.Testimonialx_card p{
    font-size: 16px ;
    text-align: center;
    color: rgb(79, 79, 97);
    padding: 6px 18px;
}

.Testimonialx_card ul{
    color: red;
    padding: 9px 14px;
}

.Testimonialx_card img{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    padding: 12px;
}
.Testimonialx_card h3{
    padding: 6px;
    color: rgb(78, 8, 8);
    margin-bottom: 8px;
}

/* adding media query  to the testimonail section  */

@media only screen and (max-width : 940px ){
    .testimonialx{
        flex-direction: column;
    }
}

/* giving css to the brand part of the websit e; */

.brandx{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 35px 0px;

}

.logo{
    flex-basis: 15%;

}

.logo img{
    width: 100%;
    max-width: 200px;
    transition: 0.4s;

}

.logo img:hover{
    filter: grayscale(1);
}

/* adding media query to the brand part ; */

@media only screen and (max-width : 900px ){
    .brandx{
        flex-direction: column;
    }
}


/* giving css to the footer part of the website */

.footerx{
    width: 100%;
    background: rgb(10, 9, 15);
    color: white;
    
}
 
.footerx_container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 33px 0px;
   

}

.footerx_container p{
    color: grey;
    font-size: 17px;
    padding: 9px 4px;
    text-align: center;
}

.footerx_container h3{
    font-size: 22px;
    padding: 12px ;

}

.footerx_col1 , .footerx_col2  {
    flex-basis: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 23px 0px;
    
}

.footerx_col3 , .footerx_col4{
    flex-basis: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 23px 0px;
}

.footerx_col3 ul , .footerx_col4 ul{
    color: grey;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}


.footerx_col3 ul li , .footerx_col4 ul li{
    padding: 5px;
}

.footerx_col1 .footerx_img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerx_img1 , .footerx_img2{
    flex-basis: 44%;

}

.footerx_img1 img , .footerx_img2 img{
    width: 100%;
    padding: 15px 0px;
}

.footerx hr{
    width: 80%;
    margin: auto;
    
}

.footerx .copyright{
    
    text-align: center;

}

.copyright p{
    padding: 24px 4px;
    letter-spacing: 0.1em;
    color: green;
}

@media only screen and (max-width : 950px){
    .footerx_container{
        flex-direction: column;
    }
}


/* FROM HERE WE ARE GOING TO START DESIGNING THE PRODUCT FILE  IT IS THE SECOND FILE OF THIS PROJECT  */


.productx_container{
    width: 85%;
    margin: auto;
}

.productx_heading{
    
    width: 90%;
    margin: 24px auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.productx_heading h2{
    color: rgb(65, 30, 5);
    margin: 18px 4px;
}

.productx_heading select{
    padding: 5px 7px;
    margin: 10px 4px;
    font-size: 17px;
    border: 2px solid red;
}

.productx_list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productx_btn{
    display: flex;
    margin: 24px 9px;
   

}

.productx_btn h3{
    border: 1px solid red;
    padding: 12px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 7px;
    transition: 0.3s;
}

.productx_btn h3:hover{
    background: red;
    color: white;
}


@media only screen and (max-width : 700px){
    .productx_heading{
        flex-direction: column;
    }
}

@media only screen and (max-width : 400px){
    .productx_btn h3{
        font: 12px;
        padding: 6px 10px;
    }
}

/* FROM HERE WE ARE GOING TO DESING THE TSHIRT FILE WHICH IS THE THIRD FILE OF THIS PROJECT */


.tshirtx_container{
    width: 85%;
    margin: auto;
}

.tshirtx_row{
    
    display: flex;
    width: 90%;
    margin: 34px auto;
    
    justify-content: space-between;
    align-items: center;

}
.tshirtx_col1 {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 12px 0px;
    
}
.tshirtx_bimg , .tshirtx_simg{
    width: 100%;

}

.tshirtx_bimg img{
    width: 100%;
    padding: 5px;
   
}

.tshirtx_limg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.tshirtx_vlimg{
    flex-basis: 23%;
}

.tshirtx_vlimg img{
    width: 100%;

}


.tshirtx_col2{
    flex-basis: 55%;
    margin: 12px 0px;
}

.tshirtx_col2 h4{
    color: rgb(90, 91, 123);
    padding: 15px 8px;
}

.tshirtx_col2 h1{
    color: rgb(73, 37, 12);
    padding: 12px;
}

.tshirtx_col2 h3{
    color: red;
    padding: 16px 5px;
}

.tshirtx_col2 select{
    padding: 5px 9px ;
    color: blue;
    font-size: 16px;
    outline: red;
    margin: 13px 0px;

}

.tshirtx_col2 .input{
    display: flex;
    margin: 16px 0px;
}

.tshirtx_col2 .input input{
    width: 67px;
    font-size: 22px;
    text-align: center;
    padding: 5px 0px;
   margin-right: 23px;
   border: 1px solid green;
   border-radius: 1px ;
  
}

.tshirtx_col2 p{
    color: rgb(64, 69, 85);
    font-size: 18px;
    letter-spacing: 0.1em;
}

/* adding media query to the tshir section  */

@media only screen and (max-width : 890px){
    .tshirtx_row{
        flex-direction: column;
    }
}

/* adding css some part of the tshirt file ; */

.relatedprx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 17px;
}

.relatedprx h3 , .relatedprx h5{
    padding: 12px ;
}

@media only screen and (max-width : 440px){
    .relatedprx{
        flex-direction: column;
    }

    .input{
        flex-direction: column;
    }

    .input input{
        margin-bottom: 16px;
    }
}

/* FROM HERE WE ARE GOING TO ANOTHER FILE OF THE ECOMMERCE WEBSITE WHICH IS LOGIN PAGE OF THE WEBSITE */

.loginx_container , .accountx_container{
    width: 85%;
    margin: auto;
}

.loginx_account{
    width: 100%;
    background: rgb(255, 207, 192);
}

.accountx_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 34px 0px;

}

.accountx_img  {
    flex-basis: 48%;

}

.accountx_form{
    flex-basis: 30%;
}


.accountx_img img{
    width: 100%;
    padding: 44px;
    
}

.accountx_form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; 
    box-shadow: 3px 3px 6px grey , -3px -3px 6px grey;
    background: white;
    padding: 25px 0px;
    
}

.formx_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;

}

.formx_heading h3{
    padding: 6px 17px;
    color: rgb(56, 28, 7);
    cursor: pointer;
    margin: 3px 2px;
    
}

.formx_main{
    width: 280px;
    overflow: hidden;
}

.formx{
  
   width: 100%;
    display: flex;
    transition: 0.4s;
   
   
}

.accountx_login , .accountx_register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 100%;
}

.accountx_login input , .accountx_register input{
    width: 260px;
    font-size: 17px;
    padding: 6px 15px;
    margin: 8px 12px;
    border: 1px solid blue;
    border-radius: 2px;
}

.accountx_login ::placeholder{
    color: grey;
}

.accountx_register ::placeholder{
    color: grey;
}

.registerx_btn{
    width: 260px;
    text-align: center;
    font-size: 17px;
    padding: 8px 0px;
    margin: 20px auto;
    font-weight: bold;
    background: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: 0.3s;

}

.registerx_btn:hover{
    background: rgb(144, 12, 12);
}

.accountx_login p{
    
    background: cadetblue;
    padding: 4px 12px;
    box-shadow: 3px 3px 2px rgb(113, 113, 151);
    margin: 23px 0px;
    transition: 0.3s;
}
.accountx_login p:hover{
    box-shadow: none;
}

@media only screen and (max-width : 1040px){
    .accountx_container{
        flex-direction: column;
    }

}
