/* This is the first css file of our first api project ; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.api1{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right ,pink ,rgb(110, 110, 247) , rgb(250, 73, 73) , pink);
   
}
.api1_search{
    width: 100%;
    padding: 35px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.api1_search input{
    width: 90%;
    max-width: 500px;
    background: transparent;
    color: white;
    padding: 8px 17px;
    border: 3px solid white;
    border-radius: 25px;
    text-transform: capitalize;

}

::placeholder{
    color: rgb(105, 156, 240);
}

.api1_searchicon{
    padding: 9px ;
    border-radius: 50%;
    box-shadow: 2px 2px 5px grey;
    color: white;
    transition: 0.3s;
}

.api1_searchicon:hover{
    background: red;
    border: 2px solid transparent;
}

.api1_result{
    width: 80%;
    margin: auto;
    box-shadow: 3px 3px 5px rgb(72, 72, 241);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 34px auto;
}

.api1_result img{
    width: 90%;
    max-width: 600px;
    
    margin: auto;
    margin: 23px auto;
    padding: 25px ;
    
}







