/* This is the style sheet of the todo list project; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(81, 137, 240);
}

.todo_container{
    max-width:420px;
    padding-top: 25px;
    height: 500px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
}

.todo_heading{
    text-align: center;
    background: darkorchid;
    color: whitesmoke;
    font-size: 40px;
    padding: 3px 0px;
}

.todo_small_container{
    margin: 36px 9px;
    display: flex;
}
.items{
    width: 100%;
    display: flex;
    justify-content: center;
}
 input{
    position: relative;
   
    text-align: center;
    margin-right: 23px;
    font-size: 21px;
    width: 180px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 4px solid darkorchid;
    border-right: white;
    border-left: white;
    border-top: white;
    padding: 5px 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    outline: none;
    color: rgb(119, 48, 21);
}

.plus_icon{
    font-size: 25px;
    border: 1px solid grey;
    padding: 5px 11px;
    border-radius: 50%;
    background: darkorchid;
    color: white;
    transition: 0.4s;
    outline: none;
    font-weight: 600;
    margin-right: 26px;
   
}
.plus_icon:hover{
    background: green;
    cursor: pointer;
}

.result{
  
    padding-left: 12px;
    margin: 6px 0px;
    display: flex;
    
}

.cross_icon{
    font-size: 10px;
    padding: 4px 5px;
    border-radius: 50%;
    background: darkorchid;
    margin: 4px 6px;
    outline: none;
    border: none;
    color: white;
    transition: 0.4s;
}
.cross_icon:hover{
    background: red;
    cursor: pointer;
}
.text{
    color: rgb(245, 89, 89);
    font-size: 18px;
    padding: 4px 9px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    
    list-style: none;
}

.main{
    height: 300px;
    overflow: hidden;
}